body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-dark);
    color: var(--font-blue);
    font-family: var(--font-text);
    margin: 0;
    height: 100vh;
}
::-webkit-input-placeholder {  
    color:    var(--font-blue);
}
:-moz-placeholder { 
   color:    var(--font-blue);
   opacity:  0.4;
}
::-moz-placeholder { 
   color:    var(--font-blue);
   opacity:  0.4;
}
:-ms-input-placeholder {
   color:    var(--font-blue);
    opacity:  0.4;
}
::-ms-input-placeholder {  
   color:    var(--font-blue);
    opacity:  0.4;
}

::placeholder { 
    color:    var(--font-blue);
    opacity:  0.4;
}

#container-form{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 20px;

}


#container-form input{
    border: 3px solid var(--font-blue);
    border-radius: 20px;
    color: var(--font-light);
    font-size: 15px;
    margin-bottom: 25px;
    width: 300px;
}

#container-form input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
    background-color: transparent;
    padding: 10px;
}

#container-form input[type="submit"]{
    display: block;
    background-color: var(--font-blue);
    padding: 5px 50px;
}

@media screen and (max-width: 768px) {
    input{
        width: 80%;
    }
}
@media screen and (max-width: 1500px) {
    input{
        width: 170px;
    }
}



