body{
    background-color: var(--font-dark);
    color: var(--font-blue);
    font-family: var(--font-text);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#container{
    display: flex;
    justify-content: center;
}

#container-form{
    width: 30%;
    font-size: 20px;
}

#container-form input{
    border: 3px solid var(--font-blue);
    border-radius: 20px;
    color: var(--font-light);
    font-size: 15px;    
    display: block;
    margin-bottom: 25px;
}

#container-form input[type="email"], input[type="password"]{
    background-color: transparent;
    padding: 10px;
}

#container-form input[type="submit"]{
    background-color: var(--font-blue);
    padding: 5px 50px;
}

#container-image{
    width: 30%;
}

#container-image img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    #container-image{
        display: none;
    }
    
    #container-form{
        width: 100%;
    }
}