*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-primary);
    font-family: var(--font-text);
    font-size: 20px;
}

a{
    color: var(--font-blue);
    text-decoration: none;
    transition: 0.3s;
}
section{
    display: flexbox;
    height: 100vh;
    padding: 50px;
}

/*--------------------MENU SUPERIOR--------------------*/
.nav-list li a:hover{
    color: var(--font-blue-hover);
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--font-dark);
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
    max-width: 50%;
}

.nav-list-mobile{
    list-style: none;
    display: none;
}

.nav-list li{
    margin-right: 60px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
    z-index: 999;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: var(--font-light);
    margin: 8px;
}

.login{
    background-color: var(--font-blue);
    color: var(--font-light);
    padding: 5px 30px;
}

.login:hover{
    background-color: var(--font-blue-hover);
}

@media(max-width: 999px) {
    .login-web{
        display: none;
    }
    .nav-list{
        display: none;
    }
    .nav-list-mobile{
        display: none;
    }
    .nav-list-mobile-item{
        margin-right: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: inline;
        margin-left: 80%;
    }

    .nav-list-mobile.active{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: var(--font-dark);
        border: 1px solid var(--font-light);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
        z-index: 998;
    }
}


/*--------------------BANNER--------------------*/
#sec-banner{
    background-color: var(--font-dark);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.banner-image-area{
    display: flex;
    height: 70%;
}

.banner-text-area{
    text-align: center;
}

.banner-image-area img{
    transform: scaleX(-1);
}

#banner-text-title{
    color: var(--font-blue);
    font-size: 60px;
}

#banner-text-name{
    font-family: var(--font-title);
    color: var(--font-light);
    font-size: 57px;
}

@media(max-width: 999px){
    #sec-banner{
        display: block;
        padding-top: 55px;
    }
    .banner-text-area{
        display: block;
    }
    .banner-image-area{
        display: flex;
        justify-content: center;
    }

    .banner-image-area img{
        max-width: 250px;
    }


    #banner-text-title{
        font-size: 40px;
    }

    #banner-text-name{
        font-size: 37px;
    }
}


/*--------------------ABOUT--------------------*/
#about-title{
    font-family: var(--font-title);
    font-size: 40px;
}

#about-text{
    font-family: var(--font-text);
    font-size: 20px;
    padding-top: 30px;
    width: 50%;
}

#about-cards-area {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 40px;
}

.about-card-title{
    font-family: var(--font-title);
}

#about-cards-footer{
    margin: 80px auto 0px auto;
    text-align: center;
}

#about-cards-footer img{
    width: 150px;
    margin-right: 45px;
}

@media(max-width: 999px){
    #about-text{
        width: 80%;
    }

    #about-cards-area {
        display: block;
    }

    .about-card{
        margin: 15px 0px;
    }

    #about-cards-footer{
        display: none;
    }
}

/*--------------------CONTRIBUTIONS--------------------*/
#contribution-title{
    font-family: var(--font-title);
    font-size: 40px;
    margin-bottom: 60px;
}

#contributions-cards-area{
    display: flex;
    justify-content: space-around;
}

.contributions-card{
    background-color: var(--bg-secondary);
    border-radius: 40px;
    border: 2px solid var(--font-dark);
    text-align: center;
    width: 20%;
    padding: 10px;
}

.contributions-card-image{
    width: 140px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.contributions-card-title{
    font-family: var(--font-title);
}

.contributions-card-text{
    font-family: var(--font-text);
    font-size: 16px;
}

#contributions-cards-footer{
    margin: 80px auto 0px auto;
    text-align: center;
}

#contributions-cards-footer img{
    width: 150px;
    margin-right: 45px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media(max-width: 999px){
    #contributions-cards-area{
        display: block;
    }

    .contributions-card{
        width: 70%;
        margin: 10px auto;
    }

    #contributions-cards-footer{
        display: none;
    }
}

/*--------------------AVALIATIONS--------------------*/

