@font-face {
    font-family: "Ledger";
    src: url("../resources/fonts/ledger.ttf");
}

@font-face {
    font-family: "Dela Gothic One";
    src: url("../resources/fonts/delaGothicOne.ttf");
}

:root{
    --font-title: Dela Gothic One, Impact;
    --font-text: Ledger, sans-serif;
}